## exclude listing, logs and deps
Listings/
## exclude object files and executable
Objects/
DebugConfig/
RTE/

## a user define gui configuration 
*.uvguix.*

## event record during  debug
*.scvd

# Ignore project/IDE files
*.uvprojx

walls.png